#root {
  min-width: 100%;
  min-height: 100vh;
}

/* Estilos generales */
.custom-body {
  background-color: #012;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100vh;
}

.custom-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  min-height: calc(100vh - 320px);
  padding: 20px;
}

footer {
  background-color: #343A40;
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
  height: 70px;
}

/* Welcome Component */
.welcome-container {
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.welcome-container h1,
.welcome-container p
{
  background: linear-gradient(to right, #f1feff, #c7fdff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation-container {
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.animation-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.btn-primary {
  background: linear-gradient(to left, #f1feff, #c7fdff);
  border: px solid;
  border-image: linear-gradient(to right, #000000, #c7fdff) 10;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  color: #000000;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Estilos adicionales para los títulos */
a {
  text-decoration: none;
  color: #000000;
}

.custom-title-welcome {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.custom-title {
  font-weight: bold;
  background: linear-gradient(to right, #006384, #c7fdff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-title-small {
  font-weight: bold;
  background: linear-gradient(to right, #006384, #c7fdff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

/* Estilos para el main contenedor */
.custom-main-container {
  margin: 0;
  padding: 0;
}

.custom-main-container {
  min-height: 66vh;
}

.custom-container {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;
}

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.game-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.custom-img-card {
  width: 80%;
  height: 60%;
  border: none;
  margin-top: 1rem;
}


/* Estilos para las listas */
.custom-list-item {
  margin-bottom: 10px;
}

.custom-paragraph {
  margin-bottom: 20px;
}

/* Estilos para las imagenes */
.custom-img {
  min-width: 30%;
  max-width: 40%;
  margin: 2rem;
}

/* Numero de pagina */
.custom-number {
  font-size: 5%;
  font-weight: bold;
  color: black;
}

.custom-buttom-container {
  width: 4%;
  height: 3%;
}

/* Estilos para los botones de navegación */
.custom-buttons .row {
  justify-content: center;
}

.custom-button {
  width: 15%;
  margin: 1%;
  font-weight: bold;
}

.custom-buttom-container {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-number {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}


/* Media queries para hacer la página responsive */
@media (max-width: 768px) {
  .custom-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-title {
    font-size: 1.5rem;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

  .custom-button {
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .custom-container {
    margin-left: 0;
    margin-right: 0;
  }

  .custom-buttom-container {
    width: 10%;
  }
}

@media (max-width: 480px) {
  .custom-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-title {
    font-size: 1.2rem;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }
}



/* Utils */

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.blue-border {
  border: 4px solid;
  border-image: linear-gradient(to right, #f1feff, #c7fdff) 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-bottom-border {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #f1feff, #c7fdff) 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.blue-background {
  background: linear-gradient(to right, #006384, #c7fdff);
}

.blue-background-reverb {
  background: linear-gradient(to left, #006384, #c7fdff);
}

.custom-buttom-text {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}